ul {
  display: inline;
}

div {
  padding: 10px;
  font-family: sans-serif;
  font-weight: 100;
  background-color: #1e2e3b;
  color: #d6dbdf;
  text-align: center;
}

li {
  list-style: none;
  display: inline;
}
