h3 {
  font-family: Arial, Helvetica, sans-serif;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #30495f;
  margin: 20px;
  color: #d6dbdf;
  padding-left: 10px;
}

button {
  border: none;
  background-color: #9dafbd;
}

.game-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 15px;
}
