<div class="title-bar">
  <p>{{ title }}</p>
  <button routerLink="/my-profile/edit" routerLinkActive="active">EDIT</button>
</div>
<div class="profile-container">
  <p>Name:</p>
  <p>
    {{ (profileStore.getProfileState() | async).firstName }}
    {{ (profileStore.getProfileState() | async).lastName }}
  </p>
  <p>Avatar Image Url:</p>
  <p>{{ (profileStore.getProfileState() | async).image }}</p>
  <p>Average Number of Hours to Game Per Day:</p>
  <p>
    {{ (profileStore.getProfileState() | async).averageNumberOfHoursPerDay }}
  </p>
</div>
